@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');

/* 
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;

    color values:
        #96746b
        #c7a17a
        #312a26
        #ffffff
 */
 /* Reset Declaration */
 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
 }


 h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
 }
p{
    font-family: 'Raleway', sans-serif;
}
.wrapper{
    margin: auto;
    width: 100%;
}
/* header area */
.nav{
    border: 4px solid red;
    width: 85%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 1em auto;
    overflow: auto;
    
}
.nav h1{
    /* border: 2px dashed green; */
    float: left;
}
.nav h1 a{
    color: #96746b;
    text-transform: uppercase;
    text-decoration: none;
}
.nav ul{
    /* border: 2px dashed purple; */
    float: right;
    margin-top: 1em;
}
.nav ul li{
    display: inline;
    margin-left: 1em;
}
.nav ul li a{
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

/* banner area */
.banner{
    border: 4px solid red;
    height: 670px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.banner-text{
    /* border: 2px dashed white; */
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translate(0%,-50%);

}
.banner-text h2{
    color: #c7a17a;
    font-size: 4em;
    text-transform: uppercase;
}
.banner-text span{
    color: #96746b;
}
.banner-text p{
    color: #fff;
}
.banner-text a{
    background-color: #312a26;
    color:#fff;
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

/* ads area 1 */
.ads{
    border: 4px solid red;
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}
.ads-items{
    /* border: 2px dashed blue; */
    height: 350px;
    float: left;
    width: 48%;
    position: relative;
}
.ads-item1{
    background-image: url(../images/ads-img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4%;
}

.ads-item2{
    background-image: url(../images/ads-img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ads-text{
    /* border: 2px dashed yellow; */
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translate(0, -50%);
    width: 45%;
    
}
.ads-text h3{
    color: #fff;
    font-size: 2em;
    text-transform: uppercase; 
    text-shadow:3px 3px 5px #312a26;
    line-height: 1.2em;

}
.ads-text a{
    color: #fff;
    text-transform: uppercase;
    text-shadow:3px 3px 5px #312a26;
    display: inline-block;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;

}

/* merchandise area */

.merch{
    border: 4px solid red;
    width: 85%;
    margin: 4em auto;
}
.section-header{
    /* border: 2px dashed blue; */
    text-align: center;
}
.section-header span{
    font-style: italic;
    color: #c7a17a;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.section-header h2{
    color: #312a26;
    text-transform: uppercase;
}
.section-header hr{
    height: 2px;
    width: 30%;
    background-color: #c7a17a;
    margin: auto;
}
.merch-gallery{
    /* border: 2px dashed black; */
    overflow: auto;
    margin-top: 2em;
}
.merch-items{
    /* border: 3px solid green; */
    float: left;
    width: 24.25%;
}
.merch-item1,.merch-item2,.merch-item3,.merch-item5,.merch-item6,.merch-item7{
    margin-right: 1%;

}
.merch-item5,.merch-item6,.merch-item7,.merch-item8{
    margin-top: 1%;
}
.merch-items h3{
    color: #312a26;
    text-transform: capitalize;
}
.merch-gallery img{
    width: 100%;
}

/* discount area */
.discount{
    border: 4px solid red;
    height: 350px;
    width: 85%;
    background-image: url(../images/discount-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    position: relative;

}
.discount-text{
    /* border: 2px dashed blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.discount-text span{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-style: italic;

}

.discount-text h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #312a26;
}
.discount-text a{
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: rgba(255,255,255, .5);
    text-decoration: none;
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
}

/* merchandise sale area */

.merch-item9,.merch-item10,.merch-item11{
    margin-right: 1%;

}
 /* ads area 2 */

 .ads-item3{
    background-image: url(../images/ads-img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4%;
}

.ads-item4{
    background-image: url(../images/ads-img4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ads-item5{
    background-image: url(../images/ads-img5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4%;
}

.ads-item6{
    background-image: url(../images/ads-img6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ads-item5,.ads-item6{
    margin-top: 4%;
}

/* form area */
.reservation{
    border: 4px solid red;
    width: 85%;
    margin:auto;
}
form{
    border: 2px dashed orange;
    overflow: auto;
    margin-top: 2em;
}
.form-group{
    border: 2px dashed blue;
    background-color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 2.5em;
    height: 900px;
    width: 49%;
    padding: 3%;
    float: left;
}
form label{
    border: 1px dashed black;
}
.form-group:nth-child(1){
    margin-right: 2%;
} 


.form-group h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.form-group h3::after{
    content: "";
    display: block;
    background-image: url(../images/reservation-cards.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 2px dashed red;
    width: 150px;
    margin: auto;
    height: 30px;

}
.form-group p{
    text-align: center;
    text-transform: capitalize;
    margin: 1em;
}

input,select{
    border: 2px dashed yellow;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}
.reserve-time input{
    width:auto;
}
.reserve-time{
    text-align: center;
}
.agree input{
    width: auto;
}
input[type=submit]{

    background-color: #c7a17a;
    text-transform: uppercase;
    font-weight: 700;
}
textarea{
    width: 100%;
}

/* footer 1 */

.footer{
    border: 4px solid red;
    background-image: url(../images/footer-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 2em 0;
    margin-top: 2em;
}

.footer-content{
    color: #fff;
    border: 2px dashed #fff;
    width: 85%;
    margin: auto;
    overflow: auto;
}

.footer-widgets{
    border: 2px dashed yellow;
    float: left;
    width: 24.25%;
    margin-right: 1%;
}
.footer-widgets:nth-child(4){
    margin-right: 0;
}

.footer-widgets h3{
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #312a26;
    margin: 1em 0;
}

.footer-widgets h4{
    text-transform: capitalize;
}

.footer-widgets th,.footer-widgets td{
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 5px #312a26;
    text-transform: capitalize;
}

.footer-widgets p{
    color: #c7a17a;
    text-transform: capitalize;
}

.footer-widgets input{
    width: auto;

}

/* footer 2 */

.footer-social{
    border: 4px solid red;
    background-color: #19100f;
    overflow: auto;
}

.social-widgets{
    border: 2px dashed white;
    float: left;
    width: 33.33%;
    text-align: center;
}
.social-widgets img{
    width:1.5em;
}
.social-widgets a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.social-widgets p{
    color: #fff;
    text-transform: capitalize;
    padding: .3em 0;

}